
body {
  font-family: Arial;
  margin: 0;
  background-color: black;
}

.logo {
  width: 100px;  /* diminui aqui */
  height: auto;
}

header {
  position: sticky;
  top: 0;  
  background-color: #F2E205;
  color: black;
  text-align: center;
  padding: 20px;
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
}

article {
    color: white;
    text-align: center;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produto {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  max-width:200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 200;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background: #F2E205;
  color: black;
  font-weight: bolder;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 15px -4px rgba(0,0,0,0.46);
  padding: 10px;
  cursor: pointer;
}

button:hover {
    background-color: #F2BD1D;
}